/* .container{
    background-image: url("images/Cindy.jpg");
    background-repeat: no-repeat;
    color: forestgreen;
}
img{
    height: 200px;
    width: 300px;
    border-radius: 10px;
}
.image p{
    color: rgb(87, 31, 31);
    background-color: darkturquoise;
} */